@import url('https://fonts.googleapis.com/css?family=Source+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: #46a2fd;
}


.menu {
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #46a2fd;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #46a2fd;
}

.menu .text-menu-selected{
    color: #46a2fd;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    background: #fafafa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#icon-menu:hover{
    opacity: 0.8;
}
/*portada*/


.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/charlotte-nao-tomori-portrait-uhd-4k-wallpaper.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
}

.container-cover:before{
    content:'';
    width: 100%;
    height: 100%;
    background: rgba(38, 172, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

/*container contenido del articulo*/

.container-content{
    width: 1000px;
    margin:auto;
    margin-top: 40x;
}

article{
    width:100%;
    margin:20px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px; 
    position: relative;
    overflow: hidden;
}

article:before{
    content:'';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #46a2fd;
}

article h1{
    margin-top:20px;
    font-weight: 500;
    font-size: 40px;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color:#3c3c3c;
}

article img{
    width:100%;
    margin-top: 20px;
}

/*footer-pie de pagina*/
.container-footer{
    width: 100%;
    padding: 40px;
    background: #f7f7f7;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 150px;
}

.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #a8a8a8;
}

.container-footer h4{
    text-align: center;
    margin-top: 20px;
    color: #8e8e8e;
    font-weight: 500;
}

/*responsive design*/
@media screen and (max-width: 1220px){
    .header-content,
    .container-content,
    .container-footer footer{
        max-width:1000px;
        padding: 0 20px;
    }
}

/*responsive design*/
@media screen and (max-width: 1020px){
    .container-content,{
        width:100%;
        flex-direction: column;
    }
    article{
        box-shadow: 0 0 0 0;
    }
}

@media screen and (max-width: 800px){
    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top:80px;
        left:0;
        background: #fff;
        overflow: hidden;
        box-shadow: 10px 0 20 -25 black;
    }
}

